html, body {
    margin: 0;
    padding: 0;
    background-color: #8D67A3;
}

body {
    background-color: #8D67A3;
}

#mainmain {
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainboxar {
    display: grid; 
    height: 100%;
    width: 100%;
    /* border-radius: 5px; */
    /* background-color: */ 
    grid-template-columns: 25% 1fr;
    grid-template-rows: 7.5% 1fr 10%;
    grid-template-areas:
      "hd hd"
      "nv mn"
      "ft mn";
    gap: 10px;
    padding: 0px;
}

header {
    display: flex;
    grid-area: hd;
    background-color: #8A4F96;
    /* border-radius: 100px; */
    width: 100%;
    justify-self: center;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    gap: 30px;
}

nav {
    grid-area: nv;
    background-color: #4B3C5D;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 100px;
}

footer {
    grid-area: ft;
    /* background-color: #373B61; */
}

main {
    grid-area: mn;
}

.vit {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.topbar {
    display: flex;
    font-size: 15px;
    text-decoration:underline;
    align-content: center;
}

.logonamn {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
}

.searchbar {
    display: flex;
    align-items: center;
    padding-left: 3px;
    background-color: #A97CC0;
    border-radius: 100px;
    width: 200px;
    height: 25px;
}

.search_icon {
    width: 7.5%;
}

.titel {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
}

nav { 
    background-color: #4B3C5D;
}

.produkterLISTA {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* two products per row */
    gap: 20px; /* space between products */
    margin-top: 20px;
}

.produkt {
    background-color: #F2716D; /* same style as your searchbar for consistency */
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
