html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /* background-image: url(../img/halloween\ sida\ blurred.png);
    background-size: cover; */
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/ZPublicaSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/PublicaSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/PublicaSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}

h1 {
    color: #FF5733;
    text-align: center;
    font-family: 'PublicaSans', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #FF5733;
    text-align: center;
    font-family: 'PublicaSans', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

body {
    display: grid;
    grid-template-rows: 50px 1fr 5%;
}

nav {
    display: flex;
    width: 100%;
    background-color: #FF5733;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: #FF5733;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); /*taget från https://www.w3schools.com/css/css3_shadows_box.asp */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.Get-started {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    height: 100px;
}

h1.Get-started {
    order: 0;
    font-size: 30px;
    color: #fe4b23;
    margin: 0;
}

h1.Get-started2 {
    order: 1;
    font-size: 40px;
    margin: 0;
}


.utforska-knapp {
    display: flex;
    background-color: white;
    color: white;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12.5px;
    background: /* taget ifrån css-tricks (https://css-tricks.com/gradient-borders-in-css/) */
    linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #FF5733, #FFC300) border-box;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.utforska-knapp:hover {
    background-color: rgb(248, 247, 247);
    color:#FF5733;
    text-decoration: underline;
    cursor: pointer; /* så att det ser ut som en riktig knapp */
}

.lang2 {
    display: flex;
    align-self: center;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.vit-text {
    color:white;
    text-align: center;
}

.logga-in-text {
    color:#585050;
    font-weight: 700;

}

.knappar {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.logga-in-knapp,
.skapa-konto-knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 7px;
    margin-right: 7px;
}

.logga-in-knapp {
    background-color: #FF5733;

}

.logga-in-knapp:hover {
    background-color: #fe4b23;
    color:white;
    text-decoration: underline;
    cursor: pointer; /* så att det ser ut som en riktig knapp */
}

.skapa-konto-knapp {
    background-color: white;
}

.skapa-konto-knapp:hover {
    background-color: white;
    color: #585050;
    text-decoration: underline;
    cursor: pointer; /* så att det ser ut som en riktig knapp */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-self: center;
    align-self: center;
    color: #463F3A;
    font-family: 'PublicaSans', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0;
}

div.Alternativ {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 130px;
}

p.Alternativ {
    color: white;
    /* align-self: center; */
    font-family: 'PublicaSans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
}

p.Alternativ:hover {
    color: white;
    text-decoration: underline;
}

p.liten {
    color: #9c9c9c;
    font-family: 'PublicaSans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

/* SIDA 2 CSS BÖRJAR HÄR!!!!!!!!!!!!!!!!!!! */
