html, body {
    margin: 0;
    padding: 0;
    background-color: #FF5733;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/ZPublicaSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/PublicaSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/PublicaSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

