html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /* background-image: url(../img/halloween\ sida\ blurred.png);
    background-size: cover; */
}

a {
    text-decoration: none;
}

h1 {
    color: #FF5733;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #FF5733;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

body {
    display: grid;
    grid-template-rows: 10% 1fr 5%;
}

nav {
    display: flex;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    justify-self: center;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;
    border-style: solid;
    border-color: #FF5733;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*taget från https://www.w3schools.com/css/css3_shadows_box.asp */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
}

.utforska-knapp {
    display: flex;
    /* background-color: #FF5733; */
    background-color: white;
    color: white;
    height: 50px;
    width: 175px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12.5px;
    border: 2px solid #FF5733;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*taget från https://www.w3schools.com/css/css3_shadows_box.asp */
}

.utforska-knapp:hover {
    background-color: rgb(248, 247, 247);
    cursor: pointer; /* så att det ser ut som en riktig knapp */
}


.vit-text {
    color:white;
    text-align: center;
}

.logga-in-text {
    color:#463F3A;
    font-weight: 700;

}

.knappar {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 100%;
}

.logga-in-knapp,
.skapa-konto-knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 7px;
}

.logga-in-knapp {
    background-color: white;
}

.logga-in-knapp:hover {
    text-decoration: underline;
    cursor: pointer; /* så att det ser ut som en riktig knapp */
}

.skapa-konto-knapp {
    background-color: #FF5733;
}

.skapa-konto-knapp:hover {
    background-color: #fe4b23;
    cursor: pointer; /* så att det ser ut som en riktig knapp */
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 20px;
    height: 100%;
}

.search-bar textarea {
    display: flex;
    width: 250px;
    height: 50%;
    max-width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 12px;
    align-self: center;
    /* border-style: solid; */
    /* border-color: #463F3A; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
}