html, body {
    margin: 0;
    padding: 0;
    background-color: #FF5733;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/ZPublicaSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/PublicaSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PublicaSans';
    src: url('../misc/fonts/PublicaSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

body {
    height: auto;
    min-height: 200vh;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 60px 1fr 10%;
    grid-template-areas: 
    "hd hd"
    "as mn"
    "ft ft"
    ;
}

header {
    display: flex;
    grid-area: hd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); /*taget från https://www.w3schools.com/css/css3_shadows_box.asp */
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: as;
}

main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


h1.Logga {
    align-self: center;
    color: white;
    font-family: 'PublicaSans', sans-serif;
    font-weight: 500;
    /* font-weight: 700; */
    font-size: 30px;
    margin-left: 20px;
    width: 100px;
}

p.Alternativ {
    color: white;
    align-self: center;
    font-family: 'PublicaSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;
}

button.login {
    border: none;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid white;
    height: 35px;
    width: 100px;
    margin-left: 30px;
    margin-right: 10px;
    color: white;
    font-family: 'PublicaSans', sans-serif;
    font-weight: 500;
    font-size: 100%;
    cursor: pointer;
}

button.reg {
    border: none;
    background-color: white;
    border-radius: 100px;
    border: 2px solid white;
    height: 35px;
    width: 120px;
    margin-right: 10px;
    color: #FF5733;
    font-family: 'PublicaSans', sans-serif;
    font-weight: 700;
    font-size: 100%;
    cursor: pointer;
}