html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

h1 {
    color: #FF5733;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #FF5733;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 10% 1fr 5%;
}

nav {
    display: flex;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    justify-self: center;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
}

.utforska-knapp {
    display: flex;
    background-color: #FF5733;
    color: white;
    height: 50px;
    width: 125px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12.5px;
}

.vit-text {
    color:white;
    text-align: center;
}

.skapa-konto-knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    background-color: #FF5733;
    border: none;
    border-radius: 10px;
    margin: 0;
}